{% extends 'my_meetup/main.html'%}
{% block title%}Home{%endblock%}

{% block meetups%} 
<div class="container-fluid bg-dark p-5">
<div class="row ">
    {% for meetup in meetups %}
    <div class="col-md-4 col-lg-4  my-5 ">
           <div class="card">
                <img src= "{{meetup.image.url}}" style="height: 200px; object-fit:cover" class="card-img-top" alt="mettp-image"/>
       
        <div class="card-body">
            <div class="card-title">

               <h5>{{meetup.title | truncatewords:3}}</h5> 
            </div>
            <div class="card-sub-title">
                <span>Date: {{meetup.from_date}} -  {{meetup.to_date}}</span>
                <p>Created : {{meetup.create |timesince}} ago</p>
                <div class="card-text">
                    <p>Remaining: {{meetup.from_date |timeuntil}}</p>
                    <p> {{meetup.description | truncatewords:4}}</p>

                </div>
              
              <a href="{% url 'meetup-update'  meetup.id%}" target="_new" class="btn btn-outline-primary">Edit</a>
              <a href="{% url 'meetup-delete'  meetup.id%}" target="_new" class="btn btn-outline-primary">Delete</a>
              <a href="{% url 'add-speaker'  meetup.slug%}" target="_new" class="btn btn-outline-primary">Speakers</a>
            </div>
        </div>
    </div>
</div>
    {%endfor%}

</div>

</div>

{%endblock%}
{%block services%}{%endblock%}
{%block about%}{%endblock%}
{%block Testimonial%}{%endblock%}
